<div class="row">


  <div class="col-sm-2">
  
    <div class="card">
  <img class="card-img-top" src="/assets/ss.png">
      <div class="card-body">
  <div class="card-title">
  {{user}}
  <a class="btn btn-sm btn-primary">edit profile</a>
  
  </div>
  
  
  </div>
  
  </div>
  </div>
  <div class="col-sm-6">

<app-crt (onPostCreated)="onPostCreated()"></app-crt><br><br><br>
<app-post (onDelete)="onDelete()" *ngFor="let post of posts"[post]="post"></app-post>

  </div>
  
  </div>
  
  
  
  
  
  