<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>             
   </head>
   
   <body>
    
<app-signup></app-signup>

<div class="row border-below">

<div class="col-sm-6 text-right">

<img height=300px src="/assets/What-Is-Scribe-Image.png">


</div>

<div class="offset-sm-1 col-sm-4">
<h5 class="mx-5 my-1">what is scribe?</h5><br>
<h6 class="mx-5 my-1">scribe is project made by me(amit), where you can share your ideas with the world! You can also interact with other users by commenting on their posts! hope you are enjoying my work! </h6>


</div>

</div>

<div class="row">

<div class="offset-sm-5 col-sm-5">
<h6 class="mx-5 my-1">Contact Me!</h6>


</div>


</div>
<div class="row">

<div class=" offset-sm-4 col-sm-4 text-left box">

<p><i class="material-icons left">phone</i>
6280823626</p>
<p><i class="material-icons left">gmail</i>
cu.17bcs1685@gmail.com
</p>
<p><i class="material-icons left">home</i>
    chandigarh university
    </p>

</div>


</div>      
   </body>
</html>

